/Implementation/provers
/Implementation/ILTP-v1.1.2-firstorder-results-nanocop
/CSL/lipics-v2021-EIICL.bib
/Implementation/ILTP-v1.1.2-firstorder
/Implementation/ILTP-v1.1.2-firstorder-translated
/Implementation/ILTP-v1.1.2-firstorder-results
/Implementation/ILTP-v1.1.2-firstorder-translated-idempotence
/Implementation/ILTP-v1.1.2-firstorder-results-idempotence
/Implementation/eiicl/target
*.aux
*.bbl
*.blg
*.log
*.toc
*.out
*.vtc
*.gz
*.pdf
*/__pycache__
Implementation/ILTP-v1.1.2-firstorder-results-leancop
Implementation/ILTP-v1.1.2-firstorder-translated-leancop
Implementation/ILTP-v1.1.2-firstorder-results-embedding-idemp
Implementation/ILTP-v1.1.2-firstorder-translated-embedding-idemp