/Implementation/provers
/Implementation/ILTP-v1.1.2-firstorder-results-nanocop
/CSL/lipics-v2021-EIICL.bib
/Implementation/ILTP-v1.1.2-firstorder
/Implementation/ILTP-v1.1.2-firstorder.tar.gz
/Implementation/ILTP-v1.1.2-firstorder-translated
/Implementation/ILTP-v1.1.2-firstorder-results
/Implementation/eiicl/target
*.aux
*.bbl
*.blg
*.log
*.toc
*.out
*.vtc
*.gz
*.pdf
Implementation/TMP_OUTPUT_nanocopi_2022-10-10_224044_842929524
